    .GraphicInformationInfoContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        .GraphicInformationText {
            color: #BFBDBD;;
        }
        .ViewGraphic {
            display: flex;
            justify-content: space-between;
            .AddBtn {
                width: 25px;
                margin-left: 20%;
            }
        }
    }

    @media(max-width:576px) {
        
        .GraphicInformationInfoContainer{
            .GraphicInformationText {
                font-size: 14px;
            }
            .ViewGraphic {
                .AddBtn {
                }
            }
        }
    }