header {
    display: flex;
    background-color: #6A1B9A;
    width: 100%;
    top: 0;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    .Menu {
        width: 90%;
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .Logo {
        display: inline-block;
        margin-right: 1em;
        color: white;
        h1 {
            font-family: 'Tangerine';
            font-size: 55px;
        }
        .Btn-menu {
            display: none;
        }
    }
    .Enlaces {
        display: inline-block;
        text-align: right;
        a {
            color: white;
            margin-right: 5%;
            text-decoration: none;
        }
        a:hover {
            background: #f2f2f2;
            color: #4357ad;
        }
    }
}

    .GraphicInformationInfoContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        .GraphicInformationText {
            color: #BFBDBD;;
        }
        .ViewGraphic {
            display: flex;
            justify-content: space-between;
            .AddBtn {
                width: 25px;
                margin-left: 20%;
            }
        }
    }

    @media(max-width:576px) {
        header {
            .Menu {
            }
            .Logo {
                h1 {
                    font-size: 30px;
                }
                .Btn-menu {
                }
            }
            .Enlaces {
                a {
                    font-size: 10px;
                }
                a:hover {
                }
            }
        }
        
            .GraphicInformationInfoContainer{
                .GraphicInformationText {
                    font-size: 14px;
                }
                .ViewGraphic {
                    .AddBtn {
                    }
                }
            }
    }