    .TableInformationInfoContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        .TableInformationText {
            color: #BFBDBD;
            font-size: 35px;
        }
        .ViewGraphic {
            display: flex;
            justify-content: space-between;
            .AddBtn {
                width: 25px;
                margin-left: 20%;
            }
        }   
    }

    @media(max-width:576px) {
        
            .TableInformationInfoContainer{
                .TableInformationText {
                    font-size: 16px;
                }
                .ViewGraphic {
                    .AddBtn {
                    }
                }   
            }
    }