header {
    display: flex;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    .ContainerImageReturn {
        display: flex;
        align-items: center;
        width: 15%;
        justify-content: center;
        .ReturnImg {
            width: 30px;
            height: 30px;
            margin-top: 1%;
        }
    }

    .PersonalInformationTitle {
        width: 50%;
        text-align: center;
        font-size: 30px;
    }

    .ContainerImageAvatar {
        display: flex;
        align-items: center;
        .Avatar {
            width: 40px;
            height: 40px;
            margin-right: 19px;
        }
    }
}

    .PersonalInformationInfoContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 5px;
        background-color: #b816f18f;
        .PersonalInformationText {
            text-align: center;
            padding-top: 5%;
            color: #fff;
            margin-top: 0;
        }
        .PersonalInformationSubtext {
            text-align: center;
            color: gray;
        }
        .FormPersonalInformation {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .InfoContainer {
                margin-top: 2%;
                .text {
                    padding-right: 10px;
                }
                .PersonalInfoInput {
                    border-radius: 10%;
                }
            }
            .EmergencyContacts {
                display: flex;
                flex-direction: column;
                margin-top: 3%;
                .EmergencyContactsText {
                    text-align: center;
                    color: gray;
                    font-size: 12px;
                }
                .AddImage {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    img {
                        width: 30px;
                    }
                }
            }
            .ButtonPersonalInformation {
                padding: 2px 15px;
                margin-top: 13px;
                border-radius: 11px;
                font-size: 19px;
                box-shadow: 1px 0px 0px grey;
            }
        }
    }

    @media(max-width:576px) {
        header {
            .ContainerImageReturn {
                .ReturnImg {
                }
            }
        
            .PersonalInformationTitle {
            }
        
            .ContainerImageAvatar {
                .Avatar {
                }
            }
        }
        
            .PersonalInformationInfoContainer{
                .PersonalInformationText {
                    padding-top: 14%;
                    font-size: 30px;
                }
                .PersonalInformationSubtext {
                    color: wheat;
                    font-size: 16px;
                }
                .FormPersonalInformation {
                    .InfoContainer {
                        display: flex;
                        .text {
                            font-size: 14px;
                            color: white;
                            display: block;
                            width: 100px;
                        }
                        .PersonalInfoInput {
                            padding: 6px 5px;
                            border-radius: 10px;
                        }
                    }
                    .EmergencyContacts {
                        .EmergencyContactsText {
                            color: wheat;
                            font-size: 16px;
                        }
                        .AddImage {
                            .AddImg {
                                width: 40px;
                                margin-right: 20px;
                                margin-top: 20px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                    .ButtonPersonalInformation {
                        padding: 8px 30px;
                        font-size: 26px;
                    }
                }
            }
    }

    @media(min-width:768px) {
        header {
            .ContainerImageReturn {
                .ReturnImg {
                    width: 42px;
                    height: 42px;
                }
            }
        
            .PersonalInformationTitle {
                font-size: 45px;
            }
        
            .ContainerImageAvatar {
                .Avatar {
                    width: 60px;
                    height: 60px;
                }
            }
        }
        
            .PersonalInformationInfoContainer{
                .PersonalInformationText {
                    padding-top: 10%;
                    font-size: 45px;
                }
                .PersonalInformationSubtext {
                    color: wheat;
                    font-size: 22px;
                
                }
                .FormPersonalInformation {
                    .InfoContainer {
                        display: flex;
                        .text {
                            font-size: 19px;
                            color: white;
                            display: block;
                            width: 100px;
                        }
                        .PersonalInfoInput {
                            padding: 6px 50px;
                            border-radius: 10px;
                            font-size: 16px;
                        }
                    }
                    .EmergencyContacts {
                        .EmergencyContactsText {
                            font-size: 20px;
                            color: wheat;
                        }
                        .AddImage {
                            .AddImg {
                                width: 50px;
                                margin-right: 15px;
                                margin-top: 15px;
                                margin-bottom: 15px;
                            }
                        }
                    }
                    .ButtonPersonalInformation {
                        font-size: 40px;
                        padding: 14px 40px;
                    }
                }
            }
    }

    @media(min-width:1200px) {
        header {
            .ContainerImageReturn {
                .ReturnImg {
                    width: 60px;
                    height: 60px;
                }
            }
        
            .PersonalInformationTitle {
                font-size: 70px;
            }
        
            .ContainerImageAvatar {
                .Avatar {
                    width: 80px;
                    height: 80px;
                }
            }
        }
        
            .PersonalInformationInfoContainer{
                height: 100%;
                .PersonalInformationText {
                    font-size: 65px;
                    padding-top: 6%;
                }
                .PersonalInformationSubtext {
                    font-size: 35px;
                    margin: 50px;
                }
                .FormPersonalInformation {
                    .InfoContainer {
                        .text {
                            font-size: 30px;
                            width: 150px;
                        }
                        .PersonalInfoInput {
                            padding: 6px 170px;
                            font-size: 25px;
                        }
                    }
                    .EmergencyContacts {
                        .EmergencyContactsText {
                            font-size: 32px;
                        }
                        .AddImage {
                            .AddImg {
                                width: 65px;
                            }
                        }
                    }
                    .ButtonPersonalInformation {
                        font-size: 55px;
                        padding: 19px 57px;
                    }
                }
            }
    }
        
    

