.ContainerContactsInformation {
    height: 100vh;
    width: 100vw;
}
/*
header {
    display: flex;
    background-color: #6A1B9A;
    width: 100%;
    top: 0;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    .Menu {
        width: 90%;
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .Logo {
        display: inline-block;
        margin-right: 1em;
        color: white;
        h1 {
            font-family: 'Tangerine';
            font-size: 60px;
        }
        .Btn-menu {
            //display: none;
        }
    }
    .Enlaces {
        display: inline-block;
        text-align: right;
        a {
            color: white;
            margin-right: 5%;
            text-decoration: none;
            font-size: 18px;
        }
        a:hover {
            background: #f2f2f2;
            color: #4357ad;
        }
    }
}*/

    .CrisisRecordInfoContainer{
        display: flex;
        justify-content: left;
        flex-direction: column;
        .Title {
            display: flex;
            justify-content: space-between;
            margin-top: 3%;
            margin-bottom: 3%;
            .PersonalInformationText {
                margin-left: 15px;
                color: #BFBDBD;
                font-size: 40px;
            }
            img {
                margin-right: 15px;
                width: 25px;
                height: 25px;
                margin-top: 22px;
            }
        }
        .Subtext {
            margin-left: 15px;
            font-size: 18px;
            color: #BFBDBD;
        }
        .Form {
            display: flex;
            justify-content: left;
            flex-direction: column;
            margin-left: 15px;
            .Form-control {
                font-family: Roboto;
                color: #B3B0B0;
                margin-bottom: 15px;
                display: flex;
                flex-direction: column;
                .UserLabel {
                    font-family: 'Roboto';
                    font-weight: 32;
                    color: #B3B0B0;
                    font-size: 22px;
                    margin-right: 15px;
                    margin-bottom: 5px;
                }
                .InputLogin {
                    border: none;
                    border-bottom: 1px solid #673AB7;
                    border-radius: 3px;
                    width: 80%;
                    margin-bottom: 2%;
                }
            }
        }
        .BtnPersonalInfo {
            width: 155px;
            background-color: #FF4081;
            color: white;
            font-family: Roboto;
            font-size: 35px;
            height: 65px;
            padding: 2px 15px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3%;
            border-radius: 10px;
        }
    }

    @media(max-width:576px) {
        /*header {
            .Menu {
            }
            .Logo {
                h1 {
                    font-size: 32px;
                }
                .Btn-menu {
                }
            }
            .Enlaces {
                a {
                    font-size: 10px;
                }
            }
        }*/
        
            .CrisisRecordInfoContainer{
                .Title {
                    margin-top: 8%;
                    margin-bottom: 8%;
                    .PersonalInformationText {
                        font-size: 16px;
                    }
                }
                .Form {
                    .Form-control {
                        margin-bottom: 8%;
                        .UserLabel {
                            font-size: 14px;
                        }
                        .InputLogin {
                            margin-bottom: 0;
                        }
                    }
                }
                
                .Agenda {
                    h3 {
                    }
                    img {
                    }
                }
                .BtnPersonalInfo {
                    font-size: 26px;
                    height: 42px;
                    width: 140px;
                    margin-top: 0;
                }
            }
    }

    @media(min-width:768px) {
        /*header {
            .Menu {
            }
            .Logo {
                h1 {
                }
                .Btn-menu {
                }
            }
            .Enlaces {
                a {
                }
            }
        }*/
        
            .CrisisRecordInfoContainer{
                .Title {
                    margin-top: 8%;
                    margin-bottom: 8%;
                    .PersonalInformationText {
                        font-size: 30px;
                    }
                }
                .Form {
                    .Form-control {
                        margin-bottom: 4%;
                        .UserLabel {
                            font-size: 25px;
                        }
                        .InputLogin {
                            margin-bottom: 0;
                        }
                    }
                }
                .BtnPersonalInfo {
                    font-size: 35px;
                    height: 65px;
                    width: 160px;
                    margin-top: 5px;
                }
            }
    }