.ContainerScheduleAppointment {
    height: 100vh;
    width: 100vw;
}    
    
    .ScheduleAppointmentInfoContainer{
        display: flex;
        justify-content: left;
        flex-direction: column;
        width: 50%;
         margin-left: auto;
         margin-right: auto;
         margin-top: 30px;
         box-shadow: 5px 5px 10px #dadada;
         border: 1px solid #acacac;
         border-radius: 5px;
         padding: 30px;
        .Title {
            display: flex;
            justify-content: space-between;
            margin-top: 2%;
            margin-bottom: 2%;
            .PersonalInformationText {
                color: #BFBDBD;
                font-size: 2rem;
            }
            /*img {
                width: 25px;
                height: 25px;
                margin-right: 10px;
                margin-top: 22px;
            }*/
        }
        /*.Subtext {
            margin-left: 15px;
            font-size: 18px;
            color: #BFBDBD;
        }*/
        .Form {
            display: flex;
            justify-content: left;
            flex-direction: column;
            .Form-control {
                font-family: 'Roboto';
                color: #B3B0B0;
                margin-bottom: 15px;
                //display: flex;
                //flex-direction: column;
                .UserLabel {
                    font-family: 'Roboto';
                    font-weight: 32;
                    color: #B3B0B0;
                    font-size: 22px;
                    margin-right: 15px;
                    margin-bottom: 5px;
                }
                .InputLogin {
                    border: none;
                    border-bottom: 1px solid #673AB7;
                    width: 100%;
                    border-radius: 0;
                    margin-bottom: 2%;
                }
            }
        }
        .BtnPersonalInfo {
            background-color: #FF4081;
            color: white;
            font-family: Roboto;
            font-size: 1.7rem;
            height: 60px;
            width: 160px;
            //padding: 2px 15px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            border-radius: 10px;
        }
    }

    @media(max-width:576px) {
        .ContainerScheduleAppointment{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .ScheduleAppointmentInfoContainer{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
                box-shadow: none;
                border: none;
                border-radius: none;
                padding: 0;
                .Title {
                    margin-top: 6%;
                    margin-bottom: 6%;
                    .PersonalInformationText {
                        font-size: 1.1rem;
                    }
                }
                .Form {
                    //margin-left:0px;
                    .Form-control {
                        //margin-bottom: 15px;
                        .UserLabel {
                            font-size: .9rem;
                        }
                        .InputLogin {
                            margin-bottom: 0;
                            //width:100%;
                            //height:30px;
                            //border-radius:0px;
                        }
                    }
                }
                
                .Agenda {
                    h3 {
                    }
                    img {
                    }
                }
                .BtnPersonalInfo {
                    font-size: 1.4rem;
                    height: 42px;
                    width: 120px;
                    margin-top: 30px;
                }
            }
        }
    }

    @media(min-width:768px) {        
        .ScheduleAppointmentInfoContainer{
            .Title {
                margin-top: 8%;
                margin-bottom: 8%;
                .PersonalInformationText {
                    font-size: 35px;
                }
            }
            .Form {
                .Form-control {
                    margin-bottom: 15%;
                    .UserLabel {
                        font-size: 25px;
                    }
                    .InputLogin {
                        margin-bottom: 0;
                    }
                }
            }
            .BtnPersonalInfo {
                font-size: 35px;
                height: 65px;
                width: 160px;
                margin-top: 5px;
            }
        }
    }
