.MainContainer{
    .ContainerHome{
        width: 100vw;
        height: 100vh;
        .HomeInfoContainer{
            width: 100%;
            height: 100%;
            .Home {
                text-align: center;
                padding-top: 5%;
                color: #fff;
                margin-top: 0;
            }
            .AlertButton {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                .Alert {
                    height: 70vw;
                    width: 70vw;
                    font-size: 65px;
                    border-radius: 50%;
                    background-color: #FF4081;
                    color: white;
                    font-family: Roboto;
                    border: none;
                    -webkit-box-shadow: 5px 5px 19px 2px rgba(156,145,156,1);
                    -moz-box-shadow: 5px 5px 19px 2px rgba(156,145,156,1);
                    box-shadow: 5px 5px 19px 2px rgba(156,145,156,1);
                }
            }
        }
    }
}

@media(min-width:576px) {
    .MainContainer{
        .ContainerHome{
            .HomeInfoContainer{
                .AlertButton {
                    .Alert {
                        height: 350px;
                        width: 350px;
                        font-size: 70px;
                    }
                }
            }
        }   
    }
}

@media(min-width:768px) {    
    .MainContainer{
        .ContainerHome{   
            .HomeInfoContainer{
                height: 90vh;
                .AlertButton {
                    .Alert {
                        height: 350px;
                        width: 350px;
                        font-size: 73px;
                    }
                }
            } 
        }
    }
}

@media(min-width:1200px) {
    .MainContainer{
        .ContainerHome{
            .HomeInfoContainer{
                height: 100%;
                background-color: none;
                .AlertButton {
                    .Alert {
                        height: 350px;
                        width: 350px;
                        font-size: 70px;
                    }
                }
            } 
        }
    }
}
