header {
    display: flex;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    .ContainerImageAvatar {
        display: flex;
        align-items: center;
        width: 15%;
        justify-content: center;
        .AvatarImg {
            width: 30px;
            height: 30px;
            margin-top: 1%;
        }
    }

    .HomeTitle {
        width: 50%;
        text-align: center;
        font-size: 30px;
    }

    .ContainerImageMenu {
        display: flex;
        align-items: center;
        .Menu {
            width: 40px;
            height: 40px;
            margin-right: 19px;
        }
    }
}

    .HomeInfoContainer{
        width: 100%;
        height: 80vh;
        background-color: #b816f18f;
        .Home {
            text-align: center;
            padding-top: 5%;
            color: #fff;
            margin-top: 0;
        }
        .AlertButton {
            display: flex;
            justify-content: center;
            align-items: center;
            .Alert {
                margin-top: 50%;
                height: 150px;
                width: 150px;
                font-size: 36px;
                border-radius: 50%;
            }
        }
    }

    @media(max-width:576px) {
        header {
            .ContainerImageAvatar {
                .AvatarImg {
                }
            }
        
            .HomeTitle {
            }
        
            .ContainerImageMenu {
                .Menu {
                }
            }
        }
        
            .HomeInfoContainer{
                height: 90vh;
                .Home {
                }
                .AlertButton {
                    .Alert {
                        margin-top: 91%;
                        height: 170px;
                        width: 170px;
                    }
                }
            }
    }

    @media(min-width:768px) {
        header {
            justify-content: space-around;
            .ContainerImageAvatar {
                .AvatarImg {
                    width: 50px;
                    height: 50px;
                }
            }
        
            .HomeTitle {
                font-size: 45px;
            }
        
            .ContainerImageMenu {
                .Menu {
                    width: 60px;
                    height: 60px;
                }
            }
        }
        
            .HomeInfoContainer{
                height: 90vh;
                .Home {
                }
                .AlertButton {
                    .Alert {
                        margin-top: 61%;
                        height: 300px;
                        width: 300px;
                        font-size: 73px;
                    }
                }
            }
    }

    @media(min-width:1200px) {
        header {
            justify-content: space-around;
            .ContainerImageAvatar {
                .AvatarImg {
                    width: 80px;
                    height: 80px;
                }
            }
        
            .HomeTitle {
                font-size: 65px;
            }
        
            .ContainerImageMenu {
                .Menu {
                    width: 90px;
                    height: 90px;
                }
            }
        }
            .HomeInfoContainer{
                height: 100%;
                .Home {
                }
                .AlertButton {
                    .Alert {
                        margin-top: 30%;
                        height: 450px;
                        width: 450px;
                        font-size: 100px;
                    }
                }
            }
    }

