header {
    display: flex;
    background-color: #6A1B9A;
    width: 100%;
    top: 0;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    .Menu {
        width: 90%;
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .Logo {
        display: inline-block;
        margin-right: 1em;
        color: white;
        h1 {
            font-family: 'Tangerine';
            font-size: 55px;
        }
        .Btn-menu {
            display: none;
        }
    }
    .Enlaces {
        display: inline-block;
        text-align: right;
        a {
            color: white;
            margin-right: 5%;
            text-decoration: none;
        }
        a:hover {
            background: #f2f2f2;
            color: #4357ad;
        }
    }
}

.ContacsInformationInfoContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 2%;
    color:#333;
    .DataCard{
        width: 90%;
        border: 1px solid #acacac;
        margin-top: 20px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #acacac;
        .ContactsInformationText{
            text-align: center;
            margin: 0px;
            margin-bottom: 15px;
        }
        .EditImg {
            width: 25px;
            margin-left: auto;
            margin-right: 12%;
        }
        .FormContactsInformation {
            .InfoContainer{
                margin-bottom:15px;
                .text {
                    font-weight: bold;
                    margin-bottom:10px;
                    display: block;
                }
                .ContactInfoInput {
                    border: 1px solid #cacaca;
                    height: 30px;
                    padding-left: 15px;
                    width: 100%;
                    border-radius: 5px;
                }

            }
            .ContainerIcons {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                margin-top: 5px;
                margin-bottom: 5px;
                .Icons {
                    width: 15px;
                    height: 15px;
                }
            }
            .EmergencyContacts{
                display:flex;
                .InfoContainer{
                    width:47%;
                }
            }
        }
        .AddButton {
            display: flex;
            width: 100%;
            .AddIcons {
                width: 15px;
                margin-top: 10%;
                margin-left: 5%;
            }
        }
    } 
}