.MainContainer {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    .ContainerLogin {
        width: 80%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid darkgray;
        border-radius: 2%;
        -webkit-box-shadow: 3px 6px 10px 0px rgba(245,237,245,1);
        -moz-box-shadow: 3px 6px 10px 0px rgba(245,237,245,1);
        box-shadow: 3px 6px 10px 0px rgba(245,237,245,1);
        .LoginMain{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            border: none;
            background-color: #6A1B9A;
            .LoginTitle {
                font-family: 'Tangerine', cursive;
                font-weight: 100;
                font-size: 75px;
                color: white;
                margin-top: 0%;
                margin-bottom: 2%;
            }
            .LoginSubtitle {
                font-family: 'Roboto';
                font-weight: 40;
                color: white;
                font-size: 20px;
            }
            .LoginParagraph {
                font-weight: 30;
                text-align: center;
                font-size: 15px;
                color: white;
                padding: 20px;
            }
        }
        .col-sm-6 {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            border-right: 1px solid;
            border-right: none;
            .WelcomeTitle {
                font-family: 'Roboto';
                font-weight: 50;
                color: #B3B0B0;
                margin-top: 0;
            }
            .WelcomeSubtitle {
                font-weight: 40;
                color: #B3B0B0;
                margin-top: 0;
            }
            .InputContainer{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .UserLabel {
                    font-family: 'Roboto';
                    font-weight: 32;
                    color: #B3B0B0;
                    width: 70%;
                    text-align: start;
                }
                .InputLogin {
                    border: none;
                    border-bottom: 1px solid #673AB7;
                    width: 70%;
                    margin-bottom: 15px;
                    height:30px;
                }
            }
            .LinkPassword {
                font-family: 'Roboto';
                font-weight: 25;
                color: #B3B0B0;
                text-decoration: none;
                margin-bottom: 5%;
            }
            .LinkRegister {
                font-family: 'Roboto';
                font-weight: 25;
                color: #B3B0B0;
                text-decoration: none;
                margin-bottom: 5%;
            }
            .BtnLogin {
                background-color: #FF4081;
                width: 85px;
                height: 45px;
                font-size: 21px;
                border-radius: 7px;
                color: white;
                font-family: Roboto;
            }
        }
    }
}

@media(max-width:576px) {
    .MainContainer {
        .ContainerLogin {
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius:0px;
            .LoginMain{
                width: 100%;
                height: 15vh;
                text-align: center;
                .LoginTitle {
                    font-size: 58px;
                }
                .LoginSubtitle {
                    display: none;
                }
                .LoginParagraph {
                    display: none;
                }
            }
            .col-sm-6 {
                width: 100%;
                height: 75%;
                padding-bottom: 20px;
                .WelcomeTitle {
                    font-size: 26px;
                }
                .WelcomeSubtitle {
                    font-size: 18px;
                }
                .UserLabel {
                    font-size: 16px;
                }
                .LinkPassword {
                    font-size: 14px;
                }
                .LinkRegister {
                    font-size: 14px;
                }
                .BtnLogin {
                    width: 35%;
                    height: 10%;
                    font-size: 20px;
                }
            }
        }
    }
}

@media(min-width:768px) {
    .MainContainer {
        height: 100vh;
        align-items: center;
        .ContainerLogin {
            width: 76%;
            height: 70vh;
        }
    }
}

@media(min-width:1200px) {
    .MainContainer {
        display: flex;
        justify-content: center;
        .ContainerLogin {
            width: 70%;
            height: 88vh;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid darkgray;
            border-radius: 2%;
            -webkit-box-shadow: 3px 6px 10px 0px rgba(245,237,245,1);
            -moz-box-shadow: 3px 6px 10px 0px rgba(245,237,245,1);
            box-shadow: 3px 6px 10px 0px rgba(245,237,245,1);
            .LoginMain{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                border: none;
                background-color: #6A1B9A;
                .LoginTitle {
                    font-family: 'Tangerine';
                    font-weight: 100;
                    font-size: 75px;
                    color: white;
                    margin-top: 0%;
                    margin-bottom: 2%;
                }
                .LoginSubtitle {
                    font-family: 'Roboto';
                    font-weight: 40;
                    color: white;
                    font-size: 20px;
                }
                .LoginParagraph {
                    font-weight: 30;
                    text-align: center;
                    font-size: 15px;
                    color: white;
                }
            }
            .col-sm-6 {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                border-right: 1px solid;
                border-right: none;
                .WelcomeTitle {
                    font-family: 'Roboto';
                    font-weight: 50;
                    color: #B3B0B0;
                    margin-top: 0;
                }
                .WelcomeSubtitle {
                    font-weight: 40;
                    color: #B3B0B0;
                    margin-top: 0;
                }
                .InputContainer{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    .UserLabel {
                        font-family: 'Roboto';
                        font-weight: 32;
                        color: #B3B0B0;
                        width: 100%;
                        text-align: start;
                        width: 70%;
                    }
                    .InputLogin {
                        border: none;
                        border-bottom: 1px solid #673AB7;
                        border-radius: 3px;
                        width: 70%;
                        margin-bottom: 6%;
                    }
                }
                .LinkPassword {
                    font-family: 'Roboto';
                    font-weight: 25;
                    color: #B3B0B0;
                    text-decoration: none;
                    margin-bottom: 5%;
                }
                .LinkRegister {
                    font-family: 'Roboto';
                    font-weight: 25;
                    color: #B3B0B0;
                    text-decoration: none;
                    margin-bottom: 5%;
                }
                .BtnLogin {
                    background-color: #FF4081;
                    width: 28%;
                    height: 6%;
                    font-size: 21px;
                    border-radius: 7px;
                    color: white;
                    font-family: Roboto;
                }
            }
        }
    }
}

